@import url(../vender/fonts.css);

.body {
  color: #fff;
  font-family: 'InterRegular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  background-color: #2A2C2F;
  margin: 0;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  padding: 0 50px;
  margin: 30px auto 90px;
  box-sizing: border-box;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 55px;
}

.header__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.header__button {
  background-color: transparent;
  padding: 0 0 ;
  margin: 0;
  border: none;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  cursor: pointer;
}

.header__button_active {
  border-bottom: 1px solid #fff;
}

.header__title {
  max-width: 720px;
  margin: 0 0 32px;
  font-size: 96px;
  line-height: 100px;
  font-family: "InterBlack";
  font-weight: 900;
  text-align: center;
}

.header__subtitle {
  max-width: 630px;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 65px;
  text-align: center;
}

.header__figure {
  margin: 0;
  padding: 0;
}

.header__image {
  display: block;
}

.header__figcaption {
  margin-top: 8px;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
}

/* ABOUT */
.about {
  max-width: 1084px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto 92px;
  box-sizing: border-box;
}

.about__title {
  max-width: 690px;
  font-size: 54px;
  line-height: 58px;
  margin: 0 0 40px;
  font-family: "InterBlack";
}

.about__text {
  max-width: 690px;
  margin: 0 0 33px;
}

.about__statistics {
  margin: 0; 
  padding: 0;
  list-style: none;
}

.about__item {
  font-size: 12px;
  line-height: 18px;
  font-family: "InterBold";
}

.about__span {
  font-family: "InterRegular";
}

.images {
  max-width: 1280px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto 92px;
  box-sizing: border-box;
}

.images__list { 
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, minmax(200px, 284px));
}

.images__item {
  line-height: 0;
}

.images__img {
  object-fit: cover;
  width: 100%;
}

/* REVIEW */
.review {
  max-width: 1084px;
  width: 100%;
  margin: 0 auto 92px;
  padding: 0 50px;
  box-sizing: border-box;
}

.review__list {
  display: flex;
  flex-direction: column;
  gap: 80px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.review__item {
  line-height: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(235px, 484px));
  gap: 48px 40px;
}

.review__title {
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  font-family: "InterBlack", sans-serif;
  font-weight: 900;
  max-width: 460px;

}

.review__link {
  position: relative;
  text-decoration: none;
  color: #fff;

  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;

  align-self: end;
  justify-self: start;
}

.review__image {
  max-width: 460px;
  width: 100%;
  display: block;
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;
}

.review__link::before {
  position: absolute;
  content: 'URL';
  color: #AAA;
  font-size: 12px;
  line-height: 12px;
  top: -24px;
  left: 0;
}

.review__description {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.review__text {
  margin: 0;
  font-size: 18px;
  max-width: 484px;
  width: 100%;
  line-height: 163%;
}

/* FOOTER */
.footer {
  max-width: 1280px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto 24px;
  box-sizing: border-box;
}

.footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../images/footer/footer__background.png');
  margin-bottom: 92px;
}

.footer__wrapper::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.footer__title {
  z-index: 1;
  font-size: 72px;
  line-height: 76px;
  margin: 245px 0 32px;
  max-width: 560px;
  text-align: center;
  font-family: "InterBlack";
  font-weight: 900;
}

.footer__subtitle {
  z-index: 1;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 245px;
  max-width: 360px;
  text-align: center;
}

.footer__nav{
  display: flex;
  justify-content: space-between;
}

.footer__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 18px;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
}

.footer__copyright {
  font-size: 14px;
  line-height: 16px;
}